/* General Styling */
body {
  margin: 0;
  font-family: "Mochiy Pop One", serif;
  background-color: #fdfdf5; /* Light cream background */
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Title and Logo */
.login-title {
  width: 400px;
  margin-bottom: -50px;
}

.logo-title {
  width: 100%;
}

.login-title-image {
  width: 480px;
  margin-bottom: -50px;
}

.logo-book {
  width: 100%;
}

/* Buttons */
.login-buttons {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.login-button {
  width: 100%;
  padding: 24px 40px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.facebook {
  background-color: #4267b2;
  color: white;
}

.google {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
}

.apple {
  background-color: black;
  color: white;
}

/* Icons */
.login-button i {
  font-size: 20px;
}

.spacing {
  width: 10px;
}

/* Button Hover Effects */
.facebook:hover {
  background-color: #365899;
}

.google:hover {
  background-color: #f5f5f5;
}

.apple:hover {
  background-color: #333333;
}

/* Icons */
.login-button i {
  margin-right: 10px;
  font-size: 20px;
}

/* NavBar */

.nav {
  background-color: #c59cdc; /* Purple background */
  height: 100vh;
  width: 80px; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.nav-logo {
  margin-bottom: 20px;
}

.nav-logo-icon {
  width: 50px;
  height: 50px;
}

.nav-divider {
  width: 50%;
  border: 0.5px solid #000; /* Divider line */
  margin: 20px 0;
}

.nav-item {
  margin: 20px 0;
}

.nav-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nav-icon:hover {
  transform: scale(1.1); /* Slightly enlarge icon on hover */
}